{% extends "core/base.html" %}

{% block title%}
<title>Giving Hope | Newsfeed</title>
{% endblock title%}

{% block content %}
<div class="container overflow-scroll">
    <legend class="border-bottom mb-4 mt-4"><strong>Trending News</strong></legend>
    {% for article in news.articles %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ article.source.name }}</strong>
            <h3 class="mb-0">{{ article.title }}</h3>
            <div class="mb-1 text-muted">{{ article.publishedAt }}</div>
            <p class="card-text mb-auto">{{ article.description }}</p>
            <a href="{{ article.url }}" class="stretched-link mt-2" target="_blank">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img"  src="{{ article.urlToImage }}" width="400" height="100%" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}