{% extends "core/base.html" %}

{% block title %}
<title>Giving Hope | About</title>
{% endblock title %}

{% block content %}
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">About
  </h1>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4"
        src="https://previews.123rf.com/images/rawpixel/rawpixel1603/rawpixel160328088/54179737-charity-donate-welfare-generosity-charitable-giving-concept.jpg"
        alt="">
    </div>
    <div class="col-lg-6">
      <h2>About Giving Hope</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique?
        Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non
        blanditiis ex fugiat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut
        sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa
        voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus
        perspiciatis quis?</p>
    </div>
  </div>
</div>
{% endblock content %}