{% extends "core/base.html" %}

{% block title%}
<title>Giving Hope | Logout</title>
{% endblock title%}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4">Logout Successful!</h2>
            <small class="text-muted">You have successfully logged out.</small>
            <div class="border-top pt-3">
                <a href="{% url 'core-login' %}">Log In Again</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}